* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Black.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Medium.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Thin.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto Condensed';
}

:root {
    --green-50: rgba(238, 249, 246, 1);
    --green-100: rgba(202, 236, 227, 1);
    --green-200: rgba(176, 226, 213, 1);
    --green-300: rgba(140, 213, 194, 1);
    --green-400: rgba(118, 205, 182, 1);
    --green-500: rgba(84, 193, 164, 1);
    --green-600: rgba(76, 176, 149, 1);
    --green-700: rgba(60, 137, 116, 1);
    --green-800: rgba(46, 106, 90, 1);
    --green-900: rgba(35, 81, 69, 1);
    --footer-bg:rgba(41, 41, 41, 1);
    --bg-family-gray:rgba(217, 217, 217, 1);
}

.mycontainer {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.pointer {
    cursor: pointer;
}

.text-12 {
    font-size: 12px;
}
.text-10{
    font-size: 10px;
}

.text-green-800 {
    color: var(--green-800);
}

.border-green-800 {
    border-color: var(--green-800) !important;
}

.focus-none:focus {
    outline: none;
    box-shadow: none;
}
.resize-none{
    resize: none;
}
.max-h-450px {
    max-height: 450px;
}
.h-450px {
    height: 450px;
}
.h-150
.min-h-100{
    min-height: 100dvh;
}
.h-180px{
    height: 180px;
}
.max-h-200px {
    max-height: 200px;
}
.max-w-200px{
    max-width: 200px;
}
.max-w-500px {
    max-width: 500px;
}

.max-w-600px {
    max-width: 600px;
}
.max-w-700px{
    max-width: 700px;
}

.icon-12px {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.icon-15px {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.icon-20px {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.icon-30px {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.icon-40px {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.object-center {
    object-position: center;
}

.object-top {
    object-position: top;
}

.object-bottom {
    object-position: bottom;
}

.object-left {
    object-position: left;
}

.object-right {
    object-position: right;
}

.rounded-inherit {
    border-radius: inherit;
}

.fw-extrabold {
    font-weight: 800;
}

.fw-black {
    font-weight: 900;
}
.bg-footer{
    background-color: var(--footer-bg);
}
.bg-green-50 {
    background-color: var(--green-50);
}

.bg-green-100 {
    background-color: var(--green-100);
}

.bg-green-200 {
    background-color: var(--green-200);
}

.bg-green-300 {
    background-color: var(--green-300);
}

.bg-green-400 {
    background-color: var(--green-400);
}

.bg-green-500 {
    background-color: var(--green-500);
}

.bg-green-600 {
    background-color: var(--green-600);
}

.bg-green-700 {
    background-color: var(--green-700);
}

.bg-green-800 {
    background-color: var(--green-800);
}

.bg-green-900 {
    background-color: var(--green-900);
}

.bg-green-transparent {
    background-color: rgba(84, 193, 164, 0.8) !important;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.bg-family-gray{
    background-color: var(--bg-family-gray);
}
.link-green-solid {
    color: #fff;
    text-decoration: none;
    background-color: var(--green-800);
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--green-800);
    padding: 8px;
}

.link-green-regular {
    color: var(--green-800);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--green-800);
    padding: 8px;
}
.btn-simple-border{
    border-style: solid;
}
.navbar-bg {
    background-color: rgba(0, 0, 0, .2);
}

.navbar-logo {
    width: 150px;

}

.hero {
    height: 100dvh;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .2);
}

.header .navbar-nav .nav-link {
    color: #fff;
    display: inline-block;
    margin-right: 4px;
}

.header .navbar-nav .nav-link.active
 {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    font-weight: 600;
}

.header .navbar-nav .dropdown-menu {
    background-color: var(--green-500);
}

.slide-text-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tint-img {
    filter: brightness(.8);
}

.home-slider .slick-list,
.home-slider .slick-track {
    height: 100%;
}

.home-slider .slick-dots {
    bottom: 20px;

}

.home-slider .slick-dots li button:before {
    color: #fff;
    font-size: 12px;
}

.home-card {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.home-card .hover-transition {
    padding: 12px 16px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 190px;
    transition: .5s;
}

.home-card:hover>.hover-transition {
    top: 0px;
}

.welcome-img-1 {
    height: 200px;
    border-radius: inherit;
    position: relative;

    &::before {
        content: "";
        background-color: var(--green-100);
        width: 100%;
        height: 100%;
        border: 1.5px dashed var(--green-500);
        position: absolute;
        z-index: 1;
        top: -16px;
        left: -16px;
        border-radius: inherit;
    }
}

.welcome-img-2 {
    height: 200px;
    border-radius: inherit;
    position: relative;

    &::before {
        content: "";
        background-color: var(--green-100);
        width: 100%;
        height: 100%;
        border: 1.5px dashed var(--green-500);
        position: absolute;
        z-index: 1;
        bottom: -16px;
        left: -16px;
        border-radius: inherit;
    }
}

.flower-bg {
    background-image: url(../imgs/flower-bg.png);
    background-size: cover;
    background-position: left;
}

.circle-better-card {
    height: 200px;
    position: relative;
    overflow: hidden;

    &:hover>.circle-better-hover{
        top: 0;
    }
}

.circle-better-hover {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 12px;
    top: 130px;
    background-color: rgba(255, 252, 237, 0.37);
    backdrop-filter: blur(7px);
    transition: .5s;
}
.footer-logo{
    max-width: 170px;
}
.about-us-hero-img{
    width: 100%;
    max-height: 450px;
    min-height: 350px;
    object-fit: cover;
}
.faqs .accordian-content{
    display: none;
    color: rgba(112, 112, 112, 1);
}
.faqs .accordian-icon-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    box-shadow: 0px 6.67px 21.33px 0px rgba(8, 15, 52, 0.2);
    border-radius: 50%;
}
.list-A{
    list-style-type: upper-alpha;
}
.belifes-text{
    color: rgba(255, 252, 252, 1);
}
.learn-more{
    background-image: url(../imgs/learn-more-bg.png);
    background-size:cover;
    background-position:center 60px;
    background-repeat: no-repeat;
}
.learn-more-input{
    width: 100%;
    padding: 8px 16px;
    background-color: white;
    box-shadow: 0px 5.02px 5.02px 0px rgba(0, 0, 0, 0.1);
    border: 2.04px solid rgba(225, 227, 230, 1);
}
.learn-more-input:focus{
    outline: none;
}
.elder-card{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    &:hover>.elder-hover{
        top: 0;
    }
}
.elder-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 193, 164, 0.8);
    color: #fff;
    padding: 16px;
    top: 290px;
    transition: .5s;
}
.family-life-video{
    max-height: 500px;
}
.family-life-badge{
    width: 100%;
    max-width: 180px;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 50%;
}
.family-life-card{
    height: 350px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    &:hover>.family-life-hover{
        top: 0;
    }
}
.family-life-hover {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 12px;
    top: 260px;
    background-color: rgba(255, 252, 237, 0.37) ;
    backdrop-filter: blur(7px);
    transition: .5s;
}
.family-life-students{
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 0px 5.61px 5.61px 0px rgba(0, 0, 0, 0.25);
}
.starting-point-form{
    background-color: var(--green-50);
    border: 1.41px solid rgba(212, 212, 212, 1);
    border-radius: 4px;
}
@media screen and (min-width:480px) {
    .col-xsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}